body{
    /* font-family: Helvetica; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Helvetica;
    color:#042656;
    background-color: #EBEFF2;
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
    color: #0099DD;
}
a:hover {
    border-bottom: 1px solid #F2B90C;
    color: #F2B90C;
}
.box {
    width: 1000px;
    height: 800px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.login_box01{
    text-align: center;
}

.home_box01{
    text-align: left;
    padding-left: 20%;
}

.login_box02{
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
}

.submit01{
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: #0099DD;
    border-radius: 20px;
}
.submit01:hover {
    background-color: #F2B90C;
}

.submit03{
    width: 20%;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: #DBF227;
    border-radius: 15px;
}
.submit03:hover {
    background-color: #F2B90C;
}

.submit04{
    width: 18%;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: #0099DD;
    border-radius: 2px;
}
.submit04:hover {
    background-color: #F2B90C;
}

.home_box02{
    width: 40%;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
}

.submit02{
    width: 20%;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: #0099DD;
    border-radius: 15px;
}
.submit02:hover {
    background-color: #F2B90C;
}

.bottom1 {
    height:60px;
    width:160px;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    background-color: #C4EEF2;
    border-radius: 10px;
}

.bottom1:hover {
    background-color: #F2B90C;
}


#text-1 {
    font-family: Courier, serif;
}
#text-2 {
    /* color: #2C3140; */
    color: #5F6673;
}

#messages{
    height: 500px;
    scroll-behavior: auto;
    scroll-margin-bottom: 0;
}