{% extends 'base.html' %}
{%block content%}
<div class="login_box01">
<img src="static/files/{{filename}}" class="bioimg" alt="..." >
<h1>Hello, {{name}}</h1>
Change your <a href="namechange.html">nickname</a><br>
<!--    <form method='POST' enctype='multipart/form-data'>-->
<!--        {{form.hidden_tag()}}-->
<!--        {{form.file()}}-->
<!--        {{form.submit()}}-->
<!--    </form>-->
</div>


<div class="home_box01">
    <br>
    <form method="POST" action="home.html">

        Enter a chatroom:

        <br>
        <label>
            <select class="home_box02" name="join-chat">
                {% for chat in chatlist %}
                <option value="{{chat[0]}}">{{chat[1]}} -- id ({{chat[0]}})</option>
                {% endfor %}
            </select>&nbsp&nbsp
            <input class="submit03" type="submit" value="Chat">
        </label>
    </form>
    <br><br>

    <form method="POST" action="home.html">

        Find a chatroom:

        <br>
        <label>
            <select class="home_box02" name="find-chat">
                {% for chat1 in allchats %}
                <option value="{{chat1[0]}}">{{chat1[1]}} -- id ({{chat1[0]}})</option>
                {% endfor %}
            </select>&nbsp&nbsp
            <input class="submit02" type="submit" value="Join">
        </label>
    </form>
    <br><br>

    <form method="POST" action="home.html">
        Leave a chatroom:
        <br>
        <label>
            <select class="home_box02" name="leave-chat">
                {% for chat in chatlist %}
                <option value="{{chat[0]}}">{{chat[1]}} -- id ({{chat[0]}})</option>
                {% endfor %}
            </select>&nbsp&nbsp
            <input class="submit02" type="submit" value="Leave">
        </label>
    </form>
    <br><br>


    <form method="POST" enctype='multipart/form-data' action="home.html">

        Create a chatroom:
        <br>

        <label>
            <input class="home_box02" type="text" name="create-chat" placeholder="Room name">&nbsp&nbsp
            {{form.hidden_tag()}}
            {{form.file()}}
            {{form.submit()}}

<!--            <input class="submit04" type="submit" value="Create">-->
        </label>
    </form>
    <br><br>
    <div id="contacts" style="overflow: auto;height: 200px">
        {% for contact in contacts %}
        Nickname: {{contact[0]}}<br>
        Email: {{contact[1]}}
        Shared Room: {{contact[2]}}<br><br>
        {% else %}
        No contacts :(
        {% endfor %}
    </div>
</div>
{% endblock %}