{% extends 'base.html' %}
{% block content %}
    <h1 class="index_page">
        4111 S22 CHATROOM
    </h1>
    <div class="index_box1" id="login-button">
        <form action="login.html">
            <button class="bottom1" id="login">
                Login
            </button>
        </form>
    </div>
    <div class="index_box1" id="register-button">
        <form action="register.html">
            <button class="bottom1" id="register">
                Register
            </button>
        </form>
    </div>



{% endblock %}